// 模板布局
.u-block {
    margin: 15px 0;
}

.u-page {
    padding: 15px;
}

.u-box {
    padding: 15px 15px 0 15px;
}

.page-title {
    font-size: 18px;
    color: @primary-color;
    font-weight: 600;
    margin-bottom: 16px;
}

.u-lfet-2 {
    margin-left: 12rpx;
}
